

.border-bottom-dashed{
    border-bottom: 1px dashed #DFDFDF;
}

.cart-wrapper.entering .cart{
    animation: showCart .4s linear forwards;
}
.cart-wrapper.entering{
    animation: fadeIn .4 linear forwards;
}
.cart-wrapper.exiting .cart{
    animation: hideCart .4s linear forwards;
}
.cart-wrapper.exiting{
    animation: fadeOut .4s linear forwards;
}

@keyframes showCart {
    0%{
        transform: translateX(100%);
    }100%{
        transform: translateX(0);
    }
}
@keyframes hideCart {
    0%{
        transform: translateX(0);
    }100%{
        transform: translateX(100%);
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }100%{
        opacity: 0;
    }
}