body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #E7F6FF;

  padding-top: 85px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Inter';
}

input{
  outline: none;
}

.container{
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;
}

button:active{
  opacity: 0.7;
}

@tailwind base;
@tailwind components;
@tailwind utilities;